.toggle-switch {
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background-color: #ccc;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
    padding: 0;
  }
  
  .toggle-switch.on {
    background-color: #06D6A0;
  }
  
  .toggle-switch.disabled {
    cursor: not-allowed;
  }
  
  .toggle-switch__handle {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #fff;
    transition: left 0.2s;
  }
  
  .toggle-switch.on .toggle-switch__handle {
    left: 26px;
  }
  