.form-group {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
  }
  
  .form-group__label {
    font-size: 14px;
    margin-bottom: 0.5em;
    color: #333;
  }
  
  .form-group__control {
    display: flex;
    flex-direction: column;
  }
  