.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin: 16px 0;
}

.pagination__button {
  border: 1px solid var(--pagination-button-border);
  background: var(--pagination-button-background);
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: var(--text-color);
}

.pagination__button:hover:not(:disabled) {
  background-color: var(--pagination-button-hover-background);
}

.pagination__button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination__button.active {
  background-color: var(--pagination-button-active-background);
  color: var(--pagination-button-active-color);
  border-color: var(--pagination-button-active-border);
}