.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin: 16px 0;
}

.pagination__button {
  border: 1px solid var(--pagination-button-border, #ccc); /* Fallback to a default border color */
  background: var(
    --pagination-button-background,
    #fff
  ); /* Fallback to a default background color */
  padding: 6px 10px;
  border-radius: 4px;
  cursor: auto;
  transition:
    background-color 0.2s,
    color 0.2s;
  color: var(--text-color, #000); /* Fallback to a default text color */
}

.pagination__button:hover:not(:disabled) {
  background-color: var(
    --pagination-button-hover-background,
    #007bff
  ); /* Fallback to a default hover background color */
  color: var(
    --pagination-button-hover-color,
    #fff
  ); /* Fallback to a default hover text color */
}
/*
.pagination__button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
*/
/*
.pagination__button.active {
  background-color: var(
    --pagination-button-active-background,
    #007bff
  ); 
  color: var(
    --pagination-button-active-color,
    #fff
  ); 
  border-color: var(
    --pagination-button-active-border,
    #007bff
  ); 
}
*/

.pagination__ellipsis {
  padding: 0.5rem;
  font-size: 1rem;
  color: #666;
}

.pagination__button.active {
  background-color: var(--primary-color, #007bff);
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

.pagination__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

