/* Accordion Styling */
.accordion-item {
  margin-bottom: 8px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-title {
  cursor: pointer;
  background: var(--background-color);
  padding: 15px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition:
    background 0.3s ease,
    color 0.3s ease;
  gap: 8px;
}

.accordion-title:hover {
  background: var(--primary-color-hover);
  color: var(--hover-text-color);
}

.accordion-item.open .accordion-title {
  background: var(--primary-color-hover);
  color: var(--hover-text-color);
}

.accordion-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.accordion-title h3 {
  flex-grow: 1;
  margin-left: 0;
}

.accordion-content {
  padding: 15px;
  border: 1px solid var(--border-color);
  border-top: none;
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}
