/* filepath: /c:/Users/simonp/Documents/Extra/saux-component-library/src/components/Accordion/Accordion.css */
.accordion-item {
  margin-bottom: 8px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-title {
  cursor: pointer;
  background: var(--background-color);
  padding: 15px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.3s ease;
}

.accordion-title:hover {
  background: var(--primary-color-hover);
  color: var(--text-color);
}

.accordion-title h3 {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
}

.accordion-content {
  padding: 15px;
  border: 1px solid var(--border-color);
  border-top: none;
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}