.button, .button.primary {
  background-color: var(--primary-color);
  font-family: var(--font-family);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.button:hover, .button.primary:hover {
  background-color: var(--primary-color-hover);
}

.button.secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.button.secondary:hover {
  background-color: var(--secondary-color-hover);
}